/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
  position: relative;
  top: 80px;
}

/* UTILITIES */
/* typography */
h1,
h2,
h3 {
  font-weight: 500;
}

h2{
  color: #000;
  font-size: 28px;
  line-height: 1.5;
}

h2.big{
  font-size: 32px;
}

h3{
  font-size: 25px;
  color: #7cbb02;
  line-height: 30px;
}

p{
  line-height: 25px;
}

a {
    color: #5586bc;
}

.text-align{
  text-align: center;
}

/* layout */
.container{
  width: 1100px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.width-50{
  width: 50%;
}

/* buttons */
.btn{
  border: 1px solid #fff;
  border-radius: 5px;
  min-width: 100px;
  display: inline-block;
  text-align: center;
  padding: 4px 10px 2px;
  line-height: 25px;
}

.btn-green{
  background-color: #7cbb02;
  border: none;
}

.btn-big{
  padding: 20px;
}

/* HEADER */
header{
  background: #0c325a;
  font-size: 12px;
  height: 580px;
}

/* nav */
header nav{
  line-height: 80px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 2;
  background-color: inherit;
}


nav .nav-logo{
  width: 15%;
}

nav .nav-central{
  width: 45%;
}

nav .nav-right{
  width: 40%;
  text-align: right;
}

header nav img{
  vertical-align: middle;
  width: 90px;
}

header a,
footer a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

nav li{
  display: inline-block;
  padding: 0 10px;
}

nav li:first-child{
  padding-left: 0;
}

nav li:last-child{
  padding-right: 0;
}

/* jumbotron */
header .jumbotron{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .container.relative{
  background-image: url('../img/background-header.png');
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 500px;
  position: relative;
}

.jumbotron h1{
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}

/* MAIN */
/* presentation */
main .presentation {
  height: 130px;
  background: #d3d3d3;
  padding: 30px 10px;
}

main .presentation p{
  font-size: 18px;
}

/* course */
main .course{
  position: relative;
}

main .course .col{
  float: left;
  width: calc(100%/3);
  padding: 30px;
}

.course .col img{
  height: 150px;
  margin-bottom: 20px;
}

.course .col h3::after{
  content: '';
  width: 25%;
  height: 1px;
  background-color: #808080;
  margin: 30px auto;
  display: block;
}

main .course::after{
  content: '';
  width: 125%;
  height: 1px;
  background: #808080;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* program */
main .program-col{
  padding: 30px 80px;
}

main .program-col p{
  margin: 20px 0;
}

/* FOOTER */
footer{
  background: #d3d3d3;
  padding: 50px 0;
}
footer li{
  display: inline-block;
  padding: 0 20px;
}

footer .right{
    text-align: right;
}



/* HELP */
.help{
  position: fixed;
  bottom: 0;
  right: 20%;
}

.help a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 38px;
  background-color: #7cbb02;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}



.background-nav{
  width: 200%;
  height: 80px;
  background-color: #0c325a;
  position: fixed;
  top: 0;
  z-index: 1;
}
