/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}

/* UTILITIES */
/* typography */
h1,
h2,
h3 {
  font-weight: 500;
}

h2{
  color: #000;
  font-size: 28px;
  line-height: 1.5;
}

h3{
  font-size: 25px;
  color: #7cbb02;
}
.text-align{
  text-align: center;
}

/* layout */
.container{
  width: 1100px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.width-50{
  width: 50%;
}

/* buttons */
.btn{
  border: 1px solid #fff;
  border-radius: 5px;
  min-width: 100px;
  display: inline-block;
  text-align: center;
  padding: 4px 10px 2px;
  line-height: 25px;
}

.btn-green{
  background-color: #7cbb02;
  border: none;
}

.btn-big{
  padding: 20px;
}

/* HEADER */
header{
  background: #0c325a;
  font-size: 12px;
  height: 580px;
}

/* nav */
header nav{
  line-height: 80px;
}

nav .nav-logo{
  width: 15%;
}

nav .nav-central{
  width: 45%;
}

nav .nav-right{
  width: 40%;
  text-align: right;
}

header nav img{
  vertical-align: middle;
  width: 90px;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

nav li{
  display: inline-block;
  padding: 0 10px;
}

nav li:first-child{
  padding-left: 0;
}

nav li:last-child{
  padding-right: 0;
}

/* jumbotron */
header .jumbotron{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .container.relative{
  background-image: url('../img/background-header.png');
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 500px;
  position: relative;
}

.jumbotron h1{
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}

/* MAIN */
/* presentation */
main .presentation {
  height: 130px;
  background: #d3d3d3;
  padding: 30px 10px;
}

main .presentation p{
  font-size: 18px;
}

/* course */
main .course .col{
  float: left;
  width: calc(100%/3);
  padding: 20px;
}

.course .col img{
  height: 150px;
}


  /*
#808080
color: #5586bc

background: #7cbb02 */
